<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brownie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  </head>
  <body>
1    <div class="container">
      <figure>
        <figcaption id="header">I HAVE PARTICULAR SET OF SKILLS</figcaption>
        <!-- <img src="/static/images/liam.png" alt="Liam Says"> -->
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--yukX50Yp--/c_scale,f_auto,fl_progressive,q_80,w_800/c4qer9xpexe49qc2rnz5.png" alt="Liam Says">
        <figcaption id="footer">Coming on the way</figcaption>
      </figure>
    </div>
  </body>
  <script src="/static/scripts/main.js"></script>
</html>